---
import BaseHead from '../../components/BaseHead.astro';
import { TITLE_SUFFIX } from '../../consts';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';
import SunsetFooter from '@/components/layout/Footer/SunsetFooter.component';
import PostsView, { PostType, ProcessedPost } from '@/components/posts/PostGrid.component';
import PageHeading from '@/components/page/PageHeading.component';
import { getAllPosts, getThumbnailImage } from '@/utils/astroHelpers';

const posts = await getAllPosts()
const SUBTEXT = "A collection of every post made for the Sunset System project."

//const thumbnail = await getThumbnailImage('micro-pc-screenie')

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Posts" + TITLE_SUFFIX} description={SUBTEXT} />
	</head>
	<body>
		<SunsetHeader client:only currentPage={Astro.url.pathname} />
		<main>
			<PageHeading title="Posts" subtext={SUBTEXT} image='computer-blinking' isSpooky><></></PageHeading>
			<PostsView client:only
				processedPosts={posts}
			/>
		</main>
		<SunsetFooter client:only currentPage={Astro.url.pathname} />
	</body>
</html>