---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';
import SunsetFooter from '@/components/layout/Footer/SunsetFooter.component';
import PostsView, { PostType } from '@/components/posts/PostGrid.component';
import PageHeading from '@/components/page/PageHeading.component';

const lorePosts = await getCollection(PostType.Lore, ({ data }) => {
  return data.draft !== true;
})
const lorePostsProcessed = lorePosts.map((item) => {
	return {
		...item,
		searchData: `${item.data.title.toLowerCase()} ${item.data.mainText?.toLowerCase()} ${item.data.tags?.map((tag) => tag.toLowerCase() + " ")} ${item.body.toLowerCase()}`
	}
});

const introductionPosts = await getCollection(PostType.Introduction, ({ data }) => {
  return data.draft !== true;
})
const introductionPostsProcessed = introductionPosts.map((item) => {
	return {
		...item,
		searchData: `${item.data.title.toLowerCase()} ${item.data.mainText?.toLowerCase()} ${item.data.tags?.map((tag) => tag.toLowerCase() + " ")} ${item.body.toLowerCase()}`
	}
});
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Posts"} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<SunsetHeader client:only currentPage={Astro.url.pathname} />
		<main>
			<PageHeading title="Posts" subtext={"A collection of every post made for Sunset System."}>
				<!--<>
					<p>If none of this makes sense, head to the home page and proceed through the introduction.</p>
				</>-->
			</PageHeading>
			<PostsView client:only
				lorePosts={lorePostsProcessed}
				introductionPosts={introductionPostsProcessed}
			/>
		</main>
		<SunsetFooter client:only currentPage={Astro.url.pathname} />
	</body>
</html>
