---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import BaseHead from "../components/BaseHead.astro";
import SimpleContainer from "../components/containers/SimpleContainer/SimpleContainer.component";
import HomeBanner from "../components/home/HomeBanner/HomeBanner.component";
import IntroSection from "../components/home/IntroSection/IntroSection.component";
import ScrollSuggestion from "../components/home/ScrollSuggestion/ScrollSuggestion.component";
import SunsetFooter from "@/components/layout/Footer/SunsetFooter.component";
import SunsetHeader from "@/components/layout/Header/SunsetHeader.component";
import FullWidthWrapper, {
  WrapperMax,
} from "../components/wrappers/FullWidthWrapper.component";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { faWrench } from "@fortawesome/free-solid-svg-icons";
import QuoteContainer from "@/components/containers/QuoteContainer/QuoteContainer.component";
import {AuthorUniserve, AuthorTerminal} from "@/data/Authors"
import QuoteContentRow from "@/components/common/ContentRow/QuoteContentRow.component";
//import * as homePageContent from '@/content/home-page.mdx';
import {Content as HomePageContent} from '@/content/home-page.mdx';

//const { Content } = await homePageContent.render();

const spacingBetweenBlock = 50;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <SunsetHeader client:only currentPage={Astro.url.pathname} />
    <main>
      <HomeBanner client:only />
      <ScrollSuggestion />
      <IntroSection client:only />
      <HomePageContent />
      
      
      <!--<FullWidthWrapper>
					<SimpleContainer classes="under-construction">
						<FontAwesomeIcon icon={faWrench} />
						<p class="highlight-orange">The full introduction is <span class="highlight-aqua">under construction :)</span></p>
					</SimpleContainer>
				</FullWidthWrapper>-->
        <div><ul>
          <li>Hello and Welcome // An introduction from a robotic mastermind</li>
          <li>World of Retrofuturistic Dreams // The world of mankind before their disappearance</li>
          <li>The Sunset Research Initiative // How they set out to solve the problem</li>
          <li>Post-Mankind Existentialism // The state of the world in this strange time</li>
        </ul></div>

      
    </main>
    <SunsetFooter client:only currentPage={Astro.url.pathname} />
  </body>
</html>
