---
import HeadingContentRow from '@/components/common/ContentRow/HeadingContentRow.component'
import ImageGallery from "@/components/common/ImageGallery/ImageGallery.component";
import { getImageObjectById, getProcessedImageById } from '@/utils/astroHelpers';

interface Props {
  classes?: string
  verticalSpacing?: number

  imageId?: string;
  imageDesktopWidth?: number
  imageMobileWidth?: number
  type?: string
  color?: string
}
const { imageId, classes, verticalSpacing, imageDesktopWidth, imageMobileWidth } = Astro.props

const imageProcessed = await getProcessedImageById(imageId || "")
const imageItems = [
    {
        originalObject: getImageObjectById(imageId || ""),
        processedObject: imageProcessed
    }
]
---

<HeadingContentRow classes={classes} color={Astro.props.color} verticalSpacing={verticalSpacing} type={Astro.props.type} client:only="react">
    {imageId && 
        <ImageGallery 
            client:only="react"
            classes="heading-gallery"
            imageDesktopWidth={imageDesktopWidth}
            imageMobileWidth={imageMobileWidth}
            imageItems={imageItems as any}
            color={Astro.props.color}
        />
    }
    <div class="content-slot"><slot /></div>
    
</HeadingContentRow>