---
import { TITLE_SUFFIX } from '@/consts';
import 'src/styles/main.scss';

export interface Props {
	title: string;
	description: string;
	image?: string;
	isLargeImage?: boolean
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image, isLargeImage = false } = Astro.props;

const finalImage = (image) ? new URL(image, Astro.url) : '/images/meta/main-logo-favicon.png'
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/images/meta/main-logo-favicon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<!-- <link rel="canonical" href={canonicalURL} /> -->

<!-- Primary Meta Tags -->
<title>{title + TITLE_SUFFIX}</title>
<meta name="title" content={title} />

<meta name="description" content={description} />
<meta name="theme-color" content="#ff3d00">
<meta property="og:site_name" content="Vigil for a Lost Future">

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={finalImage} />

<!-- Twitter -->
{isLargeImage && <meta property="twitter:card" content="summary_large_image" />}
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={finalImage} />
<meta property="twitter:creator" content="@prokhorVLG" />

<!-- oEmbed metadata -->
<link type="application/json+oembed" href="https://www.sunset-system.com/oembed.json" />

<!-- sitemap -->
<link rel="sitemap" href="/sitemap-index.xml">