---
import BaseHead from '@/components/BaseHead.astro';
import MarkdownWrapper from '@/layouts/MarkdownWrapper.astro';
import SunsetFooter from '@/components/layout/Footer/SunsetFooter.component';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';
import PostHeading from '@/components/post/PostHeading.component';
import PostNavigationBar from '@/components/post/PostNavigationBar.component';

import { findAdjacentObjects } from '@/utils/posts';
import { processPost, sortPostsByPubDate } from '@/utils/astroHelpers';
import TableOfContents from '@/components/common/TableOfContents/TableOfContents.component';

const { post, image = null } = Astro.props;
const posts = await Astro.glob('../content/**/*.mdx');
const sortedPosts = sortPostsByPubDate(posts)

interface GlobbedPost {
	frontmatter: any,
	Content: any
}

const { previousPost, nextPost } = findAdjacentObjects(sortedPosts, post.data.title)

const processedPost = await processPost(post)
const processedThumb = processedPost.processedThumbImage
const { headings } = await post.render();
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead 
			title={post.data.title} 
			description={post.data.mainText} 
			image={image} 
			isLargeImage={(image !== null)} 
		/>
	</head>
	<body>
		<SunsetHeader client:only currentPage={Astro.url.pathname} />
		<PostHeading post={post} processedThumb={processedThumb} client:only />
		<div class="aside-container">
			<TableOfContents headings={headings} client:only />
			<main>
				<MarkdownWrapper><slot /></MarkdownWrapper>
				<PostNavigationBar previousPost={previousPost} nextPost={nextPost}/>
				<!-- <JamComments path={url} /> -->
			</main>
		</div>
		<SunsetFooter client:only currentPage={Astro.url.pathname} />
	</body>
</html>
