---
import BaseHead from '@/components/BaseHead.astro';
import SunsetFooter from '@/components/layout/Footer/SunsetFooter.component';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';
import PostHeading from '@/components/post/PostHeading.component';
import PostNavigationBar from '@/components/post/PostNavigationBar.component';
import { SITE_TITLE, SITE_DESCRIPTION, TITLE_SUFFIX} from '../consts';

const { post, image = null } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead 
			title={post.data.mainText} 
			description={post.data.subText} 
			image={image} 
			isLargeImage={(image !== null)} 
		/>
	</head>
	<body>
		<SunsetHeader client:only currentPage={Astro.url.pathname} />
		<main>
			<PostHeading post={post}/>
            <article>
			    <slot />
            </article>
			<PostNavigationBar />
		</main>
		<SunsetFooter client:only currentPage={Astro.url.pathname} />
	</body>
</html>
