---
import BaseHead from '@/components/BaseHead.astro';
import SunsetFooter from '@/components/layout/Footer/SunsetFooter.component';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';
import PostHeading from '@/components/post/PostHeading.component';
import PostNavigationBar from '@/components/post/PostNavigationBar.component';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { post } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={post.data.title} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<SunsetHeader client:only currentPage={Astro.url.pathname} />
		<main>
			<PostHeading post={post}/>
            <article>
			    <slot />
            </article>
			<PostNavigationBar />
		</main>
		<SunsetFooter client:only currentPage={Astro.url.pathname} />
	</body>
</html>
