---
import BaseHead from '@/components/BaseHead.astro';
import SunsetFooter from '@/components/layout/Footer/SunsetFooter.component';
import SunsetHeader from '@/components/layout/Header/SunsetHeader.component';
import PostHeading from '@/components/post/PostHeading.component';
import PostNavigationBar from '@/components/post/PostNavigationBar.component';
import { findAdjacentObjects } from '@/utils/posts';
import { processPost, sortPostsByPubDate } from '@/utils/astroHelpers';
import { SITE_TITLE, SITE_DESCRIPTION, TITLE_SUFFIX} from '../consts';
import JamComments from '@jam-comments/astro';

const { post, image = null, url } = Astro.props;

const posts = await Astro.glob('../content/**/*.mdx');
const sortedPosts = sortPostsByPubDate(posts)

interface GlobbedPost {
	frontmatter: any,
	Content: any
}

const { previousPost, nextPost } = findAdjacentObjects(sortedPosts, post.data.title)

const processedPost = await processPost(post)
const processedThumb = processedPost.processedThumbImage
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead 
			title={post.data.title} 
			description={post.data.mainText} 
			image={image} 
			isLargeImage={(image !== null)} 
		/>
	</head>
	<body>
		<SunsetHeader client:only currentPage={Astro.url.pathname} />
		<main>
			<PostHeading post={post} processedThumb={processedThumb} client:only />
            <article>
			    <slot />
            </article>
			<PostNavigationBar previousPost={previousPost} nextPost={nextPost}/>
			<!-- <JamComments path={url} /> -->
		</main>
		<SunsetFooter client:only currentPage={Astro.url.pathname} />
	</body>
</html>
